<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información del Alumno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Alumno</a>
    </nav>
    <div class="container mt-5">
        <header class="text-center mb-4">
            <h1>Bienvenido a la Página del Alumno</h1>
        </header>
        <main>
            <section class="mb-4">
                <h2>Información Personal</h2>
                <p><strong>Nombre:</strong> {{ name }}</p>
                <p><strong>Grupo:</strong> {{ group }}</p>
            </section>
                        <section class="mb-4">
                <h2>Formulario de Contacto</h2>
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="mensaje">Mensaje:</label>
                        <textarea id="mensaje" name="mensaje" class="form-control" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </section>
        </main>
    </div>
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; 2024 Isai.</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
